<!-- Footer start -->
<section class="footer container flex">
    <div class="footer-left flex">
        <p>© 2022 Airbnb, Inc.</p>
        <ul class="">
            <li><i class="fa-solid fa-circle"></i><a href="#">Privacy</a></li>
            <li><i class="fa-solid fa-circle"></i><a href="#">Terms</a></li>
            <li><i class="fa-solid fa-circle"></i><a href="#">Sitemap</a></li>
            <li><i class="fa-solid fa-circle"></i><a href="#">Company details</a></li>
            <li><i class="fa-solid fa-circle"></i><a href="#">Destinations</a></li>
        </ul>
    </div>
    <div class="footer-right flex">
        <li id="language"><i class="fa-solid fa-globe icons"></i><a href="#">English (IN)</a></li>
        <li id="currency"><a href="#">₹ INR</a></li>
        <li id="support"><a href="#">Support & resources</a></li>
    </div>
</section>