<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headmeta.ejs')%>
        <title>
            Property Details
        </title>
        <style>
            body {
                font-size: 2rem;
            }
        </style>
</head>

<body>
    <!-- Main header -->
    <%- include('../partials/header.ejs')%>

        <!-- Main body  section -->
        <section class="container">
            <h2>Frequently Asked Questions</h2>
            <ul>
                <li>
                    <h3>How do I book a room?</h3>
                    <p>To book a room, search for the location and dates you want to stay, and then select a room from
                        the list of
                        available options. Click the "Book" button to start the booking process, and follow the prompts
                        to enter
                        your payment and personal information. Once your booking is confirmed, you will receive a
                        confirmation email
                        with details about your stay.</p>
                </li>
                <li>
                    <h3>Can I cancel my booking?</h3>
                    <p>You may be able to cancel your booking depending on the cancellation policy of the room you
                        booked. To cancel
                        your booking, go to your reservations page and click the "Cancel" button next to the booking you
                        want to
                        cancel. Please note that some cancellations may be subject to fees or charges.</p>
                </li>
                <li>
                    <h3>How do I contact the host?</h3>
                    <p>To contact the host of a room you booked, go to your reservations page and click the "Contact
                        Host" button
                        next to the booking. This will open a messaging window where you can send a message to the host.
                        You can
                        also find the host's contact information in the confirmation email you received after booking
                        the room.</p>
                </li>
            </ul>

            <style>

            </style>

        </section>








        <!-- Main body end -->
        <!-- Footer -->
        <%- include('../partials/footer.ejs')%>

</body>

</html>