<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headmeta.ejs')%>
        <title>
            Booking Confirmation
        </title>
        <link rel="stylesheet" href="../public/assets/css/booking.css">
</head>

<body>
    <!-- Main header -->
    <%- include('../partials/header.ejs')%>

        <!-- Main body  section -->
        <div class="booking_succes">
            <h1>
                <span> Hey!</span>
            </h1>
            <div class="succes">
                Your property is succesfully listed
            </div>
            <a href="/">Go to Home</a>
        </div>







        <!-- Main body end -->
        <!-- Footer -->
        <%- include('../partials/footer.ejs')%>

</body>

</html>